    /* Style pour le texte général */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Style pour les sections */
h1, h2, h3 {
    margin-top: 0;
}

/* Style pour la section de l'en-tête */
header {
    background-color: #0074D9;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

/* Style pour les informations personnelles */
.info {
    margin-top: 30px;
}

/* Style pour la section de l'éducation */
.education {
    margin-top: 30px;
}

/* Style pour la section de l'expérience professionnelle */
.experience {
    margin-top: 30px;
}

/* Style pour la section des compétences */
.competences {
    margin-top: 30px;
}

/* Style pour les listes à puces */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style pour les liens */
a {
    color: #0074D9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}